{% extends 'techcrunch/base.html' %}

{% load static %}

{% block content %}
<link href="{% static 'techcrunch/css/dashboard.css' %}" rel="stylesheet">
<style>
.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h2.image-text {
  position: absolute;
  font-size: 3em;
  top: 100px;
  left: 110px;
}

</style>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Shelter A Dashboard</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard">Overview <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/residents">Residents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Manage Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/nearby_shelters">Nearby Shelters</a>
        </li>
      </ul>
    </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Overview</h1>

      <section class="row text-center placeholders">
        <div class="col-6 col-sm-3 placeholder">
          <div class="image">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h2 class="image-text">21</h2>
          </div>
          <h4>Water</h4>
          <div class="text-muted">Days left at current capacity</div>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <div class="image">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h2 class="image-text">22</h2>
          </div>
          <h4>Food</h4>
          <div class="text-muted">Days left at current capacity</div>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <div class="image">
            <img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5HhPwAH2ALxy5L8dgAAAABJRU5ErkJggg==" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h2 class="image-text">10</h2>
          </div>
          <h4>Power</h4>
          <div class="text-muted">Days left at current capacity</div>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <div class="image">
            <img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8PwHwAFKQIM6aYFngAAAABJRU5ErkJggg==" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h2 class="image-text" style="left:90px">8/10</h2>
          </div>
          <h4>Occupancy</h4>
          
        </div>
      </section>

      <h2>Incoming Arrivals</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Contact</th>
              <th>Dependants</th>
              <th>Arriving From</th>
              <th>ETA</th>
              <th>Special Req.</th>
            </tr>
          </thead>
          <tbody id="incoming_rows">
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
<script src="{% static 'techcrunch/js/faker.min.js' %}"></script>
<script>
count = 5;
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min;
}

for (var i = 0; i < 4; i++) {
  var randomName = faker.name.firstName();
  var randomPhone = faker.phone.phoneNumber();
  var randomAddress = faker.address.streetAddress();
  var tr_html = document.createElement('tr');
  var dependent = getRandomInt(0, count);
  tr_html.innerHTML =
  `<td>11325</td>
    <td>${randomName}</td>
    <td>${randomPhone}</td>
    <td>${dependent}</td>
    <td><a href="https://www.mapquest.com/search/results?slug=%2Fus%2Fcalifornia%2Ffishermans-wharf-merchants-350275556&query=Fisherman%27s%20Wharf%20Merchants&page=0">${randomAddress}</a></td>
    <td>3h 45min</td>
    <td>None</td>`
  document.getElementById("incoming_rows").appendChild(tr_html);
}
</script>
{% endblock %}
