{% extends 'techcrunch/base.html' %}

{% load static %}

{% block content %}
<link href="{% static 'techcrunch/css/dashboard.css' %}" rel="stylesheet">
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Shelter A Dashboard</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Overview <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/residents">Residents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Manage Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard/nearby_shelters">Nearby Shelters</a>
        </li>
      </ul>
    </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Nearby Shelters</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Contact</th>
              <th>Location</th>
              <th>Time to location</th>
              <th>Water</th>
              <th>Food</th>
              <th>Power</th>
              <th>Occupancy</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>103</td>
              <td>Kelvin</td>
              <td>6021237138</td>
              <td><a href="https://www.mapquest.com/search/results?slug=%2Fus%2Fnew-york%2Fempire-state-building-25880101&query=Empire%20State%20Building&page=0">Empire State Building</a></td>
              <td>3h 45min</td>
              <td><span style="color: green">24</span></td>
              <td><span style="color: green">25</span></td>
              <td><span style="color: green">49</span></td>
              <td><span style="color: green">2/10</span></td>
            </tr>
            <tr>
              <td>148</td>
              <td>James</td>
              <td>6021237478</td>
              <td><a href="https://www.mapquest.com/search/results?slug=%2Fus%2Fnew-york%2Fbroadway-theatre-1177903&query=Broadway%20Theatre&page=0">Broadway</a></td>
              <td>3h 06min</td>
              <td><span style="color: green">35</span></td>
              <td><span style="color: green">56</span></td>
              <td><span style="color: green">70</span></td>
              <td><span style="color: green">0/10</span></td>
            </tr>
            <tr>
              <td>149</td>
              <td>Jason</td>
              <td>6021236741</td>
              <td><a href="https://www.mapquest.com/search/results?slug=%2Fus%2Fnew-york%2Fwashington-square-park-265788605&query=Washington%20Square%20Park&page=0">Washington Square Park</a></td>
              <td>3h 58min</td>
              <td><span style="color: green">25</span></td>
              <td><span style="color: green">26</span></td>
              <td><span style="color: green">78</span></td>
              <td id="second_change"><span style="color: green">4/10</span></td>
            </tr>
            <tr>
              <td>301</td>
              <td>Kathy</td>
              <td>6021246172</td>
              <td><a href="https://www.mapquest.com/search/results?slug=%2Fus%2Fnew-york%2Fcentral-park-1180078&query=Central%20Park&page=0">Central Park</a></td>
              <td>3h 50min</td>
              <td><span style="color: green">21</span></td>
              <td><span style="color: green">22</span></td>
              <td><span style="color: green">40</span></td>
              <td id="change"><span style="color: red">8/10</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

{% endblock %}
