{% extends 'techcrunch/base.html' %}

{% load static %}

{% block content %}
<link href="{% static 'techcrunch/css/dashboard.css' %}" rel="stylesheet">
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Shelter A Dashboard</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Overview <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard/residents">Residents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Manage Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/nearby_shelters">Nearby Shelters</a>
        </li>
      </ul>
    </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <section>
        <h2>Incoming Arrivals</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Dependants</th>
                <th>Arriving From</th>
                <th>ETA</th>
                <th>Special Req.</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="incoming_rows">
            </tbody>
          </table>
        </div>
        <br />
      </section>

      <section>
        <h2>Current Residents <small class="text-muted"><span id="count">5</span>/20 slots occupied</small></h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Arrived On</th>
                <th>Special Req.</th>
              </tr>
            </thead>
            <tbody id="current_rows">
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </div>
</div>
<script src="{% static 'techcrunch/js/faker.min.js' %}"></script>
<script>
count = 5;
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min;
}

function clickCheckIn(e) {
  var child = e.target.parentNode.parentNode;
  child.parentNode.removeChild(child);
  var tr_html = document.createElement('tr');
  var name = e.target.dataset.name;
  var contact = e.target.dataset.contact;
  tr_html.innerHTML =
  `<tr>
    <td>11325</td>
    <td>${name}</td>
    <td>${contact}</td>
    <td>0min</td>
    <td>None</td>
  </tr>`;
  document.getElementById("current_rows").appendChild(tr_html);
  count += 1;
  document.getElementById("count").innerHTML = count;
}

for (var i = 0; i < 5; i++) {
  var randomName = faker.name.firstName();
  var randomPhone = faker.phone.phoneNumber();
  var randomAddress = faker.address.streetAddress();
  var tr_html = document.createElement('tr');
  tr_html.innerHTML =
  `<td>11325</td>
    <td>${randomName}</td>
    <td>${randomPhone}</td>
    <td>2</td>
    <td><a href="https://www.mapquest.com/search/results?slug=%2Fus%2Fcalifornia%2Ffishermans-wharf-merchants-350275556&query=Fisherman%27s%20Wharf%20Merchants&page=0">${randomAddress}</a></td>
    <td>3h 45min</td>
    <td>None</td>
    <td><button class="btn" data-name="${randomName}" data-contact="${randomPhone}" onclick="clickCheckIn(event)">Check in</button></td>`;
  document.getElementById("incoming_rows").appendChild(tr_html);
}
for (var i = 0; i < count; i++) {
  var randomName = faker.name.firstName();
  var randomPhone = faker.phone.phoneNumber();
  var randomAddress = faker.address.streetAddress();
  var tr_html = document.createElement('tr');
  tr_html.innerHTML =
  `<tr>
    <td>11325</td>
    <td>${randomName}</td>
    <td>${randomPhone}</td>
    <td>${getRandomInt(0,10)}h ${getRandomInt(0, 60)}min</td>
    <td>None</td>
  </tr>`;
  document.getElementById("current_rows").appendChild(tr_html);
}
</script>
{% endblock %}
